.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  transition: background-color 0.2s;
}

button:hover {
  background-color: #bdbdbd;
}
